/* .header {
  align-items: center;
  background-color: black;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 15px 40px 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(40, 39, 38);
  z-index: 300;
  .fa-bars {
    display: none;
  }
  .fa-x{
    display: none;
  }
  .item-link {
    color: #fff;
  }
  .input{
    padding: 16px 140px 16px 18px;
  }
  .container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      width: 82px;
      height: 73px;
      font-weight: 700;
      color: #2d2e32;
    }
    .logo-text {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }

  .link {
    display: flex;
    list-style: none;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.23s;
    gap: 20px;
  }
} */



@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 15px 40px 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(40, 39, 38);
  z-index: 300;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem 1.5rem;
  height: 100px;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 19px;

  color: white;
}

.nav-link:hover {
  color: #1ae5f7;
}

.nav-logo {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.container-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  .logo {
    width: 82px;
    height: 73px;
    font-weight: 700;
    color: #2d2e32;
  }
  .logo-text {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
}
@media only screen and (max-width: 668px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #3d3d3d;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media(max-width: 768px){
  .header{
    padding: 15px 20px 15px 20px;
    .fa-bars{
      display: block;
      color: white;
      font-size: 27px;
    }
    .link{
      display: flex;
      background-color: #312d2d;
      box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
      max-width: 768px;
      z-index: 300;
      text-align: center;
      padding: 50px 24px;
      flex-direction: column;
      min-width: 250px;
      width: 50%;
    }
    .open-menu {
      left: 0;
    }
  
    .close-menu {
      left: -100%;
      
    }
    .fa-x{
      display: flex;
      justify-content: end;
      font-size: 20px;
    }
  }
}
