.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 15px 40px 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(40, 39, 38);
  z-index: 300;
  .fa-bars {
    display: none;
  }
  .fa-x{
    display: none;
  }
  .item-link {
    color: #fff;
  }
  .input{
    padding: 16px 140px 16px 18px;
  }
  .container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      width: 82px;
      height: 73px;
      font-weight: 700;
      color: #2d2e32;
    }
    .logo-text {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }

  .link {
    display: flex;
    list-style: none;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.23s;
    gap: 20px;
  }
}
@media(max-width: 768px){
  .header{
    padding: 15px 20px 15px 20px;
    .fa-bars{
      display: block;
      color: white;
      font-size: 27px;
    }
    .link{
      display: flex;
      background-color: #312d2d;
      box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
      max-width: 768px;
      z-index: 300;
      text-align: center;
      padding: 50px 24px;
      flex-direction: column;
      min-width: 250px;
      width: 50%;
    }
    .open-menu {
      left: 0;
    }
  
    .close-menu {
      left: -100%;
      
    }
    .fa-x{
      display: flex;
      justify-content: end;
      font-size: 20px;
    }
  }
}
