
  .ratings{
    margin-bottom: 20px;
  }
  .img-big{
    width: 36rem;
    height: 27rem;
    object-fit: cover;
  }
  .container-detail{
  
    padding: 150px 50px 100px;
    display: flex;
    gap:40px;
    background-color: #181616;
    align-items: center;

  }
  .image{
    height: 425px;
  }
  .more{
    color: white;
    width: 86px;
    margin-top: 10px;
    border-top: 1px solid white;
}
  
  .Episodes button{
    width: 30px;
    top: 10;
    height: 27px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 6px;
    padding: 0px;
    border-radius: 5px;
    /* align-items: center; */
    /* display: flex; */
    background: black;
    /* top: 10px; */
  }
  .watch input{
    margin-top: 10px;
    width: 70px;
    height: 36px;
    font-size: 10px;
    font-weight: 600;
    color: #000;
    background: yellow;
    border-radius: 6px;
}
  .watchIcon{
    margin-left: 10px;
    color: white;
  }
  .update{
    color: yellow;
  }
  .name-film{
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding-bottom: 10px;
  }
  .review{
    display: flex;
    gap:20px;
    align-items: center;
    color: white;
    padding-bottom: 15px;
  }
  .decripsion{
    color: white;
    max-width: 800px;
  }
  @media(max-width:768px){
    .container-detail{
        display: block;
    }
    .img-big{
       width: 100%;
        margin: 0 auto;
        display: flex;
        object-fit: cover;
        padding-bottom: 20px;
    }
    .name-film{
        font-size: 30px;
        font-weight: 700;
        color: white;
      }
  }

  .red{
    color: red;
  }