body{
  background: #000;
}
.contact-us-container {
  padding: 40px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  background: #181616;
  padding: 150px 50px;
}

.Contact{
  border: 1px solid #000;
  width: 100%;
  padding: 20px;
}
.input{
  
  width: 45.3%;
}
h2 {
  margin-bottom: 10px;
  color: #fefefe;
}

form {
  display: flex;
  flex-direction: column;
}
span{
  color: whitesmoke;
}
p{
  color: #938889;
}
textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #47464a;
  border-radius: 5px;
  background: #262627;
  color: #938889 ;
}
textarea{
  height: 100px;
}
button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}
.btn{
  background: #000;
  border: 2px solid yellow;
  color: white;
}
.btn:hover{
  background: yellow;
  color: #000;
}
.Information{
    border: 1px solid #514f4f;
    padding: 20px;
}
p{
  color: #938889;
}
input,
textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #47464a;
  border-radius: 5px;
  background: #262627;
  color: #938889 ;
}
textarea{
  height: 100px;
}
button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}
.btn{
  background: #000;
  border: 2px solid yellow;
}
.btn:hover{
  background: yellow;
  color: #000;
}
.Information{
  padding: 20px;
}
p{
  font-size: 14px;
}
.Infor{
  padding: 12px;
}

.Address{
  display: flex;
  align-items: center;
  height: 70px;
}
.Address .AddressCss{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e4c4c;
  border-radius:50% ;
  margin-right: 5px;
  background: yellow;
}

.Phone{
  display: flex;
  align-items: center;
  height: 70px;
}
.Phone .PhoneCss{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e4c4c;
  border-radius:50% ;
  margin-right: 5px;
  background: yellow;
}
.Email{
  display: flex;
  align-items: center;
  height: 70px;
}
.Email .EmailCss{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e4c4c;
  border-radius:50% ;
  margin-right: 5px;
  background: yellow;
}






@media (max-width:450px){
 .contact-us-container{
  flex-direction: column;
  margin-left: 0;
  width: 490px;
 }
 iframe{
  width: 410px;
    height: 200px;
 }
 .Container{
  width: 100%;
 }
 .feedback-container h2{
  text-align: center;
 }
 h2{
  text-align: center;
 }
 .input input{
  width: 100%;
 }
 input, textarea{
  width: 100%;
 }
  .Information{
      width: 333px;
  }
} 

@media (max-width:768px){
  .contact-us-container{
    flex-direction: column;
  }
  iframe{
    width: 100%;
    height: 300px;

  }
  .input input{
      width: 100%;
  }
  input, textarea{
      width: 100%;
  }
}

@media (max-width:991px){
  .input input{
      width: 100%;
  }
  input, textarea{
      width: 100%;
  }
}

@media (max-width:1147px){
  .input input{
      width: 100%;
  }
  input, textarea{
      width: 100%;
  }
}
.tille{
  color: white;
}