.BlockSmall{
    display: flex;
    justify-content: center;
    gap: 50px;
}
h1{
    text-align: center;
    color: blueviolet;
    margin-bottom: 20px;
}
.price-list{
    margin-top: 130px;
}
.ContainerPrice{
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: #181616;
    display: flex;
    flex-wrap: wrap;
}
.active {
    color: red;
}
.Bundle{
    border: 1px solid grey;
    width: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Bundle.disable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.BlockLarge {
    margin-bottom: 50px;
}
.Title{
    height: 35px;
    text-align: center;
    padding: 5px;
    background: #444444 ;
    border-radius: 10px;
}
.price{
    height: 35px;
    text-align: center;
    padding: 10px;
}
p{
    font-size: 11px;
}
.name-title{ 
    color: red;
    padding-bottom: 10px;
}
.btn-buton{
    padding: 6px;
    border-radius: 9px;
    font-size: 10px;

}
.date{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
}
.TitleSmall{
    padding: 15px;
}
.TitleSmall div {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #444444;
}
 .button-buy{
    margin: 0 auto;
    display: flex;
    padding: 6px;
    border-radius: 3px;
    justify-content: center;
    background: #000;
    border: 1px solid yellow;
    margin-bottom: 20px;
    cursor: pointer;
} 
.button-buy:hover{
    background: yellow;
    color: #000;
}  
.price{
    color: white;
    margin-bottom: 50px;
}
/* .button-buy{

    text-align: center;
    margin-bottom: 20px;
} */
/* .button-buy button {

    background: #000;
    border: 1px solid yellow;
    border-radius: 5px;
}
.button-buy button:hover{
    background: yellow;
    color: #000;
} */ 


span.swal2-success-line-tip {
    top: 38px !important;
    left: 2px !important;
}

span.swal2-success-line-long {
    right: 0px !important;
    top: 30px !important;
}




/* .purchased {
    opacity: 0.4; 
  } */
  
  .not-purchased {
    opacity: 0.4; 
  }
  







@media (max-width:450px){
    /* .ContainerPrice{
        margin-left: 40px;
    } */
    .BlockSmall{
        flex-direction: column;
    }
    .Bundle{
        width: 280px;
    }
}


@media (max-width:768px){
    /* .ContainerPrice{
        margin-left: 40px;
    } */
    .BlockSmall{
        flex-wrap: wrap;
    }
    .Bundle{
        width: 280px;
    }
}


@media (max-width:991px){
    /* .ContainerPrice{
        margin-left: 40px;
    } */
    .BlockSmall{
        flex-wrap: wrap;
    }
    .Bundle{
        width: 280px;
    }
}
.tille-name{
    color: #E50914;
}