.container-film{
    padding: 150px 50px 190px;
    background-color: #181616;
    .input{
      padding: 10px 20px;
    }
    .wrapper-seclect{
        display: flex;
        gap:20px;
        align-items: center;
        padding-bottom: 20px;
        #movie-type{
          padding: 10px 20px;
        }
    }
    .favfilm{
      color: white;
    }
    .wrapper-film {
        display: flex;
        padding-bottom: 50px;
        align-items: center;
        /* overflow: hidden; */
        overflow-x: scroll;
        padding-bottom: 50px;
        justify-content: flex-start;
        gap:15px;

        .item-film {
            position: relative;
          .logo {
            width: 200px;
            height: 269px;
            object-fit: cover;
          }
          .title {
            position: absolute;
            background-color: red;
            color: #fff;
            padding: 6px;
            font-size: 11px;
            font-weight: 400;
            border-radius: 5px;
          }
          .name{
            position: absolute;
            background-color: rgb(112, 110, 110);
            color: #fff;
            padding: 6px;
            font-size: 11px;
            width: 100%;
            font-weight: 400;
            bottom: 0;
          }
        }
      }
}

.heart-item {
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-item.active{
  color: red;
}