.footer {
  background-color: #181616;
  font-size: 10px;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  .name {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .address {
    color: #937474;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    display: flex;
    gap:10px;
    align-items: center;
  }
  .active{
    color: #bfb0b0;
    font-size: 17px;
    font-weight: 700;
  }
  .fa-angle-right{
    font-size: 12px;
  }
}
